---
import Layout from '../layouts/Layout.astro';
import TechStack from '../components/TechStack';
import Books from '../components/Books';
import GithubActivity from '../components/GithubActivity';
import Iam from '../components/Iam.astro';
import Bar from '../components/Bar.astro';
import Separator from '../components/Separator.astro';
import Blogposts from '../components/Blogposts';
---

<Layout title="Xamey">
  <Bar sticky />
  <main class="min-h-screen text-white">
    <div class="mx-auto px-4">
      <Iam />
      <div class="flex flex-col gap-8 m-8">
        <Blogposts client:load />
        <GithubActivity client:load/>
        <Separator />
        <Books />
        <Separator />
        <TechStack />
      </div>
    </div>
  </main>
</Layout>