---
import SocialButton from "./SocialButton.astro"
---
<span class="flex justify-end sticky top-[20px] z-[1] p-8">
    <span class="flex gap-4 items-center">
        <SocialButton href="https://bsky.app/profile/xameyz.bsky.social" icon="/socials/bluesky.png" />
        <SocialButton href="https://github.com/xamey" icon="/socials/github.png" />
        <SocialButton href="https://x.com/xameyz" icon="/socials/x.png" />
    </span>
</span>
